@font-face {
    font-family: 'product_sansregular';
    src: url(font/product_sans/product_sans_regular-webfont.woff),
         url(font/product_sans/product_sans_regular-webfont.woff2);
}

*, *::before, *::after {
    box-sizing: border-box;
}

.navbar {
    font-size: 14px;
    padding: 16px;

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        vertical-align: middle;

        i {
            font-size: 20px;
            cursor: pointer;
            margin: 0 20px;
        }

        img {
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            cursor: pointer;
        }
    }

    .logo {
        margin-right: auto;
        font-family: 'product_sansregular', 'sans-serif';
        h1 {
            font-size: large;
        }
        a:hover {
            text-decoration: none;
        }
    }

    .right-item {
        margin-left: 10px;
    }

    a {
        text-decoration: none;
        font-family: sans-serif, Arial;
        color: black;
    }
    a:hover {
        text-decoration: underline;
    }
}

.main-content {
    text-align: center;

    div {
        margin-bottom: 38px;
    }
}

.main-logo, .images-logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 180px;
    font-family: 'product_sansregular', 'sans-serif';
    a {
        text-decoration: none;
    }

    h1 {
        font-size: 88px;
        display: initial;
        position: relative;
    }
}

.images-logo h1::after {
    content: 'images';
    position: absolute;
    font-size: 16px;
    color: blue;
    bottom: -5px;
    right: 5px;
    font-weight: lighter;
    font-family: arial, sans-serif;
}

.query {
    display: flex;
    justify-content: center;

    input {
        border-color: gainsboro;
        border-style: solid;
        &:focus, &:active {
            outline: none;
        }
    }

    input[type = "text"] {
        width: 530px;
        border-radius: 20px 0 0 20px;
        border-right: none;
        padding: 10px 0 10px 20px;

        &::placeholder {
            color: gray;
            font-size: 15px;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    span {
        display: flex;
        align-items: center;
        border: 2px solid gainsboro;
        border-left: none;
        border-right: none;
        cursor: pointer;
        padding: 0 5px;
        color: gray;
    }

    input[type="submit"] {
        border-radius: 0 20px 20px 0;
        background: transparent;
        color: gray;
        border-left: none;
        padding: 0 10px;
        font-size: x-small;
    }
}

.button-lists {
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        font-family: sans-serif, Arial;
    }
    li {
        margin: 0 5px;

        input[type = "submit"] {
            outline: none;
            border: none;
            padding: 10px 15px;
            background: rgba(gainsboro, 0.25);
            border-radius: 5px;
            font-size: x-small;

            &:hover {
               box-shadow: 0 0 2px gray;
            }
        }
    }
}

.advanced-input {
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 0 50px;

    h1 {
        font-size: 20px;
        color: #F28B82;
        font-weight: 500;
        margin: 25px 0;
    }

    h2 {
        font-size: 16px;
        color: black;
    }

    .input-form {

        .form-group{
            display: flex;
            align-items: center;
            flex-direction: row;
            margin: 10px 0;

            header {
                h2 {
                    font-size: 16px;
                }
            }
    
            label, h2{
                float: left;
                min-width: 180px;
                font-size: 14px;
                line-height: 25px;
                word-wrap: break-word;
            }
    
            input[type = "text"]{
                width: 100%;
                text-align: left;
                font-size: 14px;
                padding: 2.5px 8px;
                line-height: 20px;
                border: 1px solid rgba(black, 0.75);
            }

            .extra-info{
                display: none;
                cursor: default;
                float: left;
                font-size: 12px;
                min-width: 30%;
                margin-left: 10px;
                color: rgba(black, 0.65);
                span {
                    color: black;
                }
                h2 {
                    font-size: 14px;
                }
            }
        }

        input[type="submit"] {
            margin: 10px 0;
            padding: 12px;
            background: #8ab4f8;
            border: none;
            border-radius: 2px;
            color: #202124;
            font-size: 11px;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
            box-shadow: none;

            &:hover {
                background: #AECBFA;
            }
        }
    }
    
    section {
        margin: 25px 0;
    }
}

hr {
    border: 1px solid #EBEBEB;
}

.span-or {
    font-size: 14px !important; 
    margin : 0 15px;
}

.submit-button-section {
    .submit-button {
        margin: 25px 0;
    }
}

@media screen and (max-width: 672px) {
    .query {
        input[type="text"] {
            width: 420px;
        }
    }
}

@media screen and (max-width: 560px) {
    .query {
        input[type="text"] {
            width: 305px;
        }
    }
}

@media screen and (max-width: 380px) {
    .form-group {
        align-items: flex-start !important;
        flex-direction: column !important;
    }

    .span-or {
        font-size: 14px !important;
        margin: 10px 0;
    }
}

@media screen and (min-width: 1065px) {
    .input-form {
        .extra-info {
            display: block !important;
        }
    }

    .submit-button-section {
        .submit-button {
            margin-left: auto;
            position: relative;
            right: 10px;
        }
    }
}

@media screen and (max-width: 1065px) {
    .submit-button-section {
        position: relative;
        .submit-button {
            top: 10px;
            position: absolute;
            right: 0;
        }
    }
}