{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit entry
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    {% if message %}
        <div class="alert alert-danger" style="text-align: center;" role="alert">
            {{message}}
        </div>
    {% endif %}
    <form action = "{% url 'encyclopedia:edit' name %}" method = "post">
        {% csrf_token %}
        <div class="form_group">
            <label for="title" style = "display: block;">Title:</label>
            <input type = "text" name = "title" placeholder = "Title of the page"
            {% if name %} value = '{{ name }}' {% endif %} readonly="readonly">
        </div>
        <div class="form_group">
            <label for = "content" style = "display: block;">Content:</label>
            <textarea name = "content" placeholder = "Insert your content here">
                {% if content %} {{ content }} {% endif %}
            </textarea>
        </div>
        <input type="submit">
    </form>
{% endblock %}